.Cardcontainer{

    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 500px;
    width: 300px;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    margin-right: 20px;
    padding: 20px;
    border:black solid 2px

}
.imageContainer{
    height: 60%;
}
.acutalImage{
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
.writings{
    background-color: rgb(223, 176, 184);
    border-radius: 16px;
    margin-top: 16px;
    padding: 10px;
    border: solid rgb(158, 113, 120) 2px

}

/* input area  */
.inputDiv{
    background-color: rgb(100, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    font-size: 30px;
    color: white;
}
.actualInput{
    border: none;
    padding: 5px;
    border-radius: 4px;
    width: 200px;
}



